<section>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size--1-of-1">
            <article class="slds-card">
                <div class="slds-card__body slds-card__body_inner">
                    <h2 id="element-with-table-label-2" class="slds-text-heading_medium slds-m-bottom_xx-small">Lastest Block</h2>

                    <table class="slds-table slds-table_cell-buffer slds-table_bordered" aria-labelledby="element-with-table-label other-element-with-table-label">
                        <thead>
                        <tr class="slds-line-height_reset">
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Block index">Block Index</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Miner">Miner</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Transactions">Transactions</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Mined Date">Mined Date</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let b of blocks">
                            <tr class="slds-hint-parent">
                                <th data-label="Block index" scope="row">
                                    <div class="slds-truncate overflow-text" title="Cloudhub">
                                        <a href="#" tabindex="-1">{{b.index}}</a>
                                    </div>
                                </th>
                                <td data-label="Miner">
                                    <div class="slds-truncate overflow-text" title="miner">{{b.minerAddress}}</div>
                                </td>
                                <td data-label="Transactions">
                                    <div class="slds-truncate overflow-text" title="transactions">{{b.numberOfTransactions}}</div>
                                </td>
                                <td data-label="Mined date">
                                    <div class="slds-truncate overflow-text" title="20%">{{b.minedDate}}</div>
                                </td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
        <div class="slds-col slds-size--1-of-1" style="margin-top: 1.2rem">
            <article class="slds-card">
                <div class="slds-card__body slds-card__body_inner">
                    <h2 id="element-with-table-label" class="slds-text-heading_medium slds-m-bottom_xx-small">Lastest Confirmed Transaction</h2>

                    <table class="slds-table slds-table_cell-buffer slds-table_bordered" aria-labelledby="element-with-table-label other-element-with-table-label">
                        <thead>
                        <tr class="slds-line-height_reset">
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Tx ID">Transaction ID</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="From">From</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="To">To</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Amount">Amount</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Created Date">Created Date</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Created Date">Confirmed Date</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let tx of transactions">
                            <tr class="slds-hint-parent">
                                <th data-label="Tx Id" scope="row">
                                    <div class="slds-truncate overflow-text" title="Cloudhub">
                                        <a href="#" tabindex="-1">{{tx.iD}}</a>
                                    </div>
                                </th>
                                <td data-label="From">
                                    <div class="slds-truncate overflow-text" title="Cloudhub">{{tx.senderAddress}}</div>
                                </td>
                                <td data-label="To">
                                    <div class="slds-truncate overflow-text" title="4/14/2015">{{tx.receiverAddress}}</div>
                                </td>
                                <td data-label="Amount">
                                    <div class="slds-truncate overflow-text" title="Prospecting">{{tx.amount}}</div>
                                </td>
                                <td data-label="Created Date">
                                    <div class="slds-truncate overflow-text" title="20%">{{tx.createdDate}}</div>
                                </td>
                                <td data-label="Confirmed Date">
                                    <div class="slds-truncate overflow-text" title="Prospecting">{{tx.confirmedDate}}</div>
                                </td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </div>
</section>
