<div class="slds-nav-vertical__section sidebar">
    <div>
        <fieldset class="slds-nav-vertical">
                    <span class="slds-nav-vertical__item">
                        <input type="radio" id="unique-id-01-dashbord" value="unique-id-01-recent" name="unique-id-example" checked=""/>
                            <label class="slds-nav-vertical__action" for="unique-id-01-dashbord">
                                <span class="slds-nav-vertical_radio-faux">My Dashboard</span>
                            </label>
                    </span>
            <span class="slds-nav-vertical__item">
                        <input type="radio" id="unique-id-01-send-transaction" value="unique-id-01-created-by-me" name="unique-id-example"/>
                            <label class="slds-nav-vertical__action" for="unique-id-01-send-transaction">
                                <span class="slds-nav-vertical_radio-faux">Send Transaction</span>
                            </label>
                    </span>
            <span class="slds-nav-vertical__item">
                        <input type="radio" id="unique-id-01-by-coin" value="unique-id-01-created-by-me" name="unique-id-example"/>
                            <label class="slds-nav-vertical__action" for="unique-id-01-by-coin">
                                <span class="slds-nav-vertical_radio-faux">Buy Coins</span>
                            </label>
                    </span>
            <span class="slds-nav-vertical__item">
                        <input type="radio" id="unique-id-01-transaction-history" value="unique-id-01-private-reports" name="unique-id-example"/>
                        <label class="slds-nav-vertical__action" for="unique-id-01-transaction-history">
                        <span class="slds-nav-vertical_radio-faux">Transaction History</span>
                        </label>
                    </span>
        </fieldset>
    </div>
</div>
