<section role="dialog" tabindex="-1" class="slds-modal slds-modal--prompt" [class.slds-fade-in-open]="isOpen" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
    <div class="slds-modal__container">
        <div class="slds-modal__content slds-p-around_medium slds-text-align--center" id="modal-content-id-1">
            <span class="slds-icon-typing slds-is-animated" title="User is typing">
                <span class="slds-icon-typing__dot"></span>
                <span class="slds-icon-typing__dot"></span>
                <span class="slds-icon-typing__dot"></span>
            </span>
            <span class="slds-text-body--regular">    Loading</span>
        </div>
    </div>
</section>
<div class="slds-backdrop" [class.slds-backdrop_open]="isOpen"></div>
