<div class="slds-grid slds-gutters" style="margin-top: 15rem">
    <div class="slds-col slds-text-align--right">
        <button class="slds-button slds-button--brand" style="height: 8rem; width: 20rem">
            <span class="slds-text-heading--large">Create new wallet</span>
        </button>
    </div>
    <div class="slds-col slds-text-align--left">
        <button class="slds-button slds-button--brand" style="height: 8rem; width: 20rem">
            <span class="slds-text-heading--large">Access my wallet</span>
        </button>
    </div>
</div>
