<section style="margin-top: 5rem">
    <div class=" slds-grid_align-center slds-grid slds-gutters">
        <img src="assets/images/wallet-icon.png" width="200px"/>
    </div>
    <div class=" slds-grid_align-center slds-grid slds-gutters">
        <span class="slds-text-title--caps" style="font-size: xx-large">My Wallet</span>
    </div>
    <div class="slds-grid slds-gutters" style="margin-top: 2rem">
        <div class="slds-col slds-text-align--right">
            <button (click)="toCreateNewWalletRoute()" class="slds-button slds-button--brand" style="height: 6rem; width: 20rem">
                <span class="slds-text-heading--large">Create new wallet</span>
            </button>
        </div>
        <div class="slds-col slds-text-align--left">
            <button (click)="toAccessMyWalletRoute()" class="slds-button slds-button--brand" style="height: 6rem; width: 20rem">
                <span class="slds-text-heading--large">Access my wallet</span>
            </button>
        </div>
    </div>
</section>

