<div class="slds-grid slds-wrap" style="margin-top: 8rem">
    <div class="slds-col slds-size--4-of-12"></div>
    <div class="slds-col slds-size--4-of-12">
        <article class="slds-card" style=" padding: 1rem">
            <div class="slds-text-align--center">
                <h3 class="slds-text-heading--large">Create new wallet</h3>
            </div>
            <div class="slds-card__body_inner slds-text-align--left">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col--padded-around-medium slds-size--1-of-1">
                        <div class="slds-form-element" [class.slds-has-error]="isInputInvalid">
                            <label class="slds-form-element__label" for="text-input-id-1">Your password</label>
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                                <svg class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#lock"></use>
                                </svg>
                                <input (keyup)="enterPasswordHandle($event.target.value)" type="password" id="text-input-id-1" name="password" class="slds-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col--padded-around-medium slds-size--1-of-1 slds-text-align--center">
                        <button (click)="clickToNextStepHandle()" class="slds-button slds-button--brand">
                            To next step
                            <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#forward"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="slds-col--padded-around-medium slds-size--1-of-1 slds-text-align--center">
                        <span class="slds-text-body_small">DO NOT FORGET to save your password. You will need this Password + Private Key to unlock your wallet.</span>
                        <p><a routerLink="/login">Back to home</a></p>
                    </div>

                </div>
            </div>
        </article>
    </div>
    <div class="slds-col slds-size--4-of-12"></div>
</div>

<app-loading-modal-component [isOpen]="loading"></app-loading-modal-component>

<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal" [class.slds-fade-in-open]="privateKey">
    <div class="slds-modal__container">
        <header class="slds-modal__header">
            <button (click)="closeModalPrivateKeyHandle()" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Your private key</h2>
        </header>
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <div class="slds-form-element">
                <div class="slds-form-element__control slds-border_bottom">
                    <div class="slds-form-element__static">
                        <p>{{privateKey}}</p>
                    </div>
                </div>
            </div>
            <span class="slds-text-align--center slds-text-color--error">This private key is only one and you can not reset it, please save it carefully.</span>
        </div>
    </div>
</section>
<div class="slds-backdrop" [class.slds-backdrop_open]="privateKey"></div>
