<ng-container>
    <app-global-header-component></app-global-header-component>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-3">
            <app-vertical-navigation (navigate)="navigateTabHandle($event)"></app-vertical-navigation>
        </div>
        <div class="slds-col slds-size_2-of-3" style="margin-top: 5rem; padding-right: 5rem">
            <app-dashboard-component [hidden]="!showDashboard" ></app-dashboard-component>
            <app-send-transaction [hidden]="!showSendTransaction"></app-send-transaction>
            <app-buy-coin [hidden]="!showBuyCoin"></app-buy-coin>
            <app-history-transaction [hidden]="!showHistory"></app-history-transaction>
            <app-transaction-pool [hidden]="!showTransactionPool"></app-transaction-pool>
        </div>
    </div>
</ng-container>
