.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
    padding-top: 5rem;
    font-size: x-large;
}

.sidebar > nav > ul > li > a{
    color: #676666;
}

.list_item{
    padding-left: 2rem;
    padding-right: 2rem;
}

.list_item:hover{
    background: ghostwhite;
}
