<app-global-header-component></app-global-header-component>

<div class="slds-grid slds-gutters">
    <div class="slds-col slds-size_1-of-3">
        <section class="sidebar slds-card">
            <nav>
                <ul class="slds-list_vertical slds-has-block-links--space">
                    <li class="list_item">
                        <a>Dashboard</a>
                    </li>
                    <li class="list_item">
                        <a>Send transaction</a>
                    </li>
                    <li class="list_item">
                        <a>Transaction history</a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
    <div class="slds-col slds-size_2-of-3">
        <span>1</span>
    </div>
</div>
